name: release

on:
  release:
    types: [published]

defaults:
  run:
    shell: bash -l {0}

env:
  CACHE_NAME: node-modules-cache

jobs:
  Install-Lint-Test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'

      - name: Upload to Cache
        uses: actions/cache@v4.2.0
        id: npm-cache
        with:
          path: |
            node_modules/
          key: ${{ env.CACHE_NAME }}-${{ hashFiles('package-lock.json') }}

      - name: Install dependencies
        if: ${{ steps.npm-cache.outputs.cache-hit != 'true' }}
        run: npm ci

      - name: Run linters
        run: npm run lint

      - name: Test
        run: npm test

  Release:
    name: Release @skyscanner/eslint-config-skyscanner to NPM
    runs-on: ubuntu-latest
    environment: Publishing
    needs: [Install-Lint-Test]
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          ref: main

      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'

      - name: Restore Cache
        uses: actions/cache/restore@v4.2.0
        id: npm-cache
        with:
          path: |
            node_modules/
          key: ${{ env.CACHE_NAME }}-${{ hashFiles('package-lock.json') }}

      - name: Publish NPM package
        run: |
          npm version $RELEASE_VERSION --no-git-tag-version
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          RELEASE_VERSION: ${{ github.event.release.tag_name }}
